.note {
  padding: 25px;
  height: 150px;
  width: 275px;
  display: flex;
  flex-direction: column;
  background-color: blueviolet;
  border-radius: 25px;
  transition: background-color 0.3s;
  position: relative;
}

.note_text {
  flex: 1;
  resize: none;
  background-color: transparent;
  font-size: 1rem;
  line-height: 1.875rem;
  outline: none;
  border: none;
}

.note_footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.note_footer img {
  cursor: pointer;
  opacity: 0;
  transition: opacity 300ms;
}

.note:hover {
  background-color: darkviolet;
}

.note:hover .note_footer img {
  opacity: 1;
}

.note_footer span {
  text-align: center;
  font-size: 12px;
  margin-top: 5px;
}
